<% provide(:title, "New Transcript") %>

<div class='col-md-3'></div>
<div class='col-md-6'>
  <div class='form-border'>
    <h1>New Transcript</h1>
    <!-- Each tag in this erb form has a name set to "user[attribute]" -->
    <%= bootstrap_form_for(@transcript) do |transcript| %>
      <%= render 'shared/error_messages' %>
        <%= transcript.text_field :title, class: 'black_text' %>
        <%= transcript.date_select :date, class: 'black_text' %>
        <%= transcript.text_area :content, class: 'black_text big_box' %>
        <%= transcript.submit "Submit!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
