<% provide(:title, @transcript.title) %>
<%= render 'layouts/header' %>


<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <h1><%= @transcript.title %></h1>
    <h3><%= @transcript.date %></h3>
    <h5>Posted by: <%= link_to @transcript.user.name, @transcript.user %></h5>
    <p>
      <% for i in 0..@word_array.length %>
        <span id=<%= "word_#{i}" %>><%= @word_array[i] %></span>
      <% end %>
    </p>
    <h3><%= link_to "Annotate!", new_annotation_path %></h3>
    <% @transcript.annotations.each do |x| %>
      <p class="pointer" id=<%= "anno_#{i}" %>><%= x.link %></p>
      <%= link_to "annotation page", annotation_path(x) %></p>
    <% end %>


  </div>

  <div class="col-md-4">
    <iframe width='100%' height='500px' display='block' src=<%= @url %> allowfullscreen></iframe>

  </div>

</div>
