<% provide(:title, @transcript.title) %>


<% content_for :for_head do %>
  <script>

    var ready;
    ready = function() {

      // If you click a word in the content, the "red_text" class is
      // added.
      $("span").on("click", function(event) {
        if (!$(this).hasClass("red_text") && !$(this).is("#new_anno")){
          $(this).toggleClass( "yellow_text" );
        }
      });

      // For each annotation, if you click the appropriate link, an
      // iframe renders
      <% @transcript.annotations.each do |x| %>
        // iframe builder
        var src<%= x.id %> = "<iframe width='100%' height='500px' display='block' overflow='scroll' src='/annotations/<%= x.id %>' allowfullscreen></iframe>"

        <% for i in x.start..x.end %>
          // gives a red_text class to all annotated words
          $("#word_<%= i %>").addClass("red_text");
          console.log("word_<%= i %>");

          // Creates an iframe link for each word
          $("#word_<%= i %>").click(function () {
            $("iframe").remove()
            $("#annotate-box").append(src<%= x.id %>);
          });

        <% end %>

      <% end %>

      // Variables for text selection
      var start = 0;
      var end = 0;
      var error = "";
      var skip = false;
      var clicked_array = [];

      // Method goes through each word, and pushes it to an array if the
      // word has a class of "red_text"
      <% def word_check %>
        var counter = -1;
        clicked_array = [];
        skip = false;
        <% for x in 0..@word_array.length %>
          if($("#word_<%= x %>").hasClass( "yellow_text" )){
            clicked_array.push(<%= x %>);
            counter ++;
            if(counter !== 0 && clicked_array.indexOf(<%= x %> - 1) === -1){
              skip = true;
            }
          }
        <% end %>
        // This part sets up the start and end variables
        if(counter >= 30){
          error = "Too many letters, try again!";
        } else if(counter < 0) {
          error = "Pick a word to annotate!";
        } else if(skip) {
          error = "All words must be in a row!";
        } else {
          start = clicked_array[0]
          end = clicked_array[counter]
          error = ""
        }
      <% end %>


      /////////// Eventually combine these two!
      // CLicking the title runs the word_check method
      // Clicking h3 runs the new page for a new annotation
      $("#new_anno").on("click", function(event) {
        <% word_check %>;
        if(error === ""){
          window.location.href = '/annotations/' + start + '/' + end + '/new'
        }else{
          console.log(error);
          console.log(clicked_array);
        }
      });

    };


    $(document).ready(ready);
    $(document).on('hi, world', ready)

  </script>
<% end %>

<%= render 'layouts/header' %>


<div class="row">
  <div class="col-md-8">
    <div class="content-border" id="show_tran">
      <h1><%= @transcript.title %></h1>
      <h3>Date: <%= @transcript.date.strftime('%b %d, %Y') %></h3>
      <h5>Posted by: <%= link_to @transcript.user.name, @transcript.user %></h5>
      <hr>
      <p>
        <% for i in 0..@word_array.length %>
          <span id=<%= "word_#{i}" %>><%= @word_array[i] %></span>
        <% end %>
      </p>
      <hr>
      <h5>Select the phrase or sentence you would like to comment on and then click: </h5>
      <button id='new_anno' type="button" class='btn-primary'> Annotate!</button>
    </div>
  </div>

  <div class="col-md-4">
    <div id='annotate-box' class='content-border'>
      <h3>Annotations</h3>
    </div>
  </div>

</div>

