<% provide(:title, "Edit Profile") %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-border">
      <h1>Edit Profile</h1>
      <%= bootstrap_form_for @user do |user| %>
        <%= render 'shared/error_messages' %>
        <%= user.text_field :name, class: 'black_text' %>
        <%= user.text_field :prof_pic_url, class: 'black_text' %>
        <%= user.text_field :party_id, class: 'black_text' %>
        <!-- select menu with option tags -->
        <%= user.text_field :city, class: 'black_text' %>
        <%= user.text_field :state, class: 'black_text' %>
        <%= user.submit "Update!", class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= link_to 'Back to User Page', user_path %>
    </div>
  </div>
</div>
