<% provide(:title, "Registration") %>

<% render 'layouts/header.html.erb' %>

<div class='col-md-4'></div>
<div class='col-md-4'>
<h1>Register</h1>

<%= form_for(@user) do |user| %>

  <!-- FIGURE OUT EXACTLY HOW FLASH WORKS -->
  <% flash.each do |key,value| %>
    <div class="<%= key %>" > <%= value %> </div>
  <% end %>

  <div>
    <%= user.label :name %>
    <%= user.text_field :name, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :email %>
    <%= user.email_field :email, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :password %>
    <%= user.password_field :password, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :password_confirmation, "Confirmation" %>
    <%= user.password_field :password_confirmation, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :prof_pic_url %>
    <%= user.text_field :prof_pic_url, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :party_id %>
    <%= user.text_field :party_id, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :city %>
    <%= user.text_field :city, class: 'black_text' %>
  </div>

  <div>
    <%= user.label :state %>
    <%= user.text_field :state, class: 'black_text' %>
  </div>


  <div>
    <%= user.submit "Submit!", class: 'black_text' %>
  </div>

<% end %>
</div>
<div class='col-md-3'></div>
