<% provide(:title, "Annotate #{$tran_title}") %>
<%= render 'layouts/header' %>

<div class="container">
  <!-- For error messages -->
  <div class='col-md-3'></div>
  <div class='col-md-6'>
    <div class="form-border">
      <h1>New Annotation</h1>

    <!-- Each tag in this erb form has a name set to "user[attribute]" -->
      <%= render 'shared/error_messages' %>
      <%= bootstrap_form_for(@annotation) do |annotation| %>
        <%= annotation.text_area :comment, class: 'black_text' %>
        <%= annotation.text_field :link, class: 'black_text', prepend: "http://" %>
        <%= annotation.hidden_field :start, class: 'black_text', value: params[:start] %>
        <%= annotation.hidden_field :end, class: 'black_text', value: params[:end] %>
        <%= annotation.submit "Submit!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
